# Assignment 1: Anomaly detection through LSTM

In [11]:
import pandas as pd
import pyreadr
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

- Dataset description and source: https://www.spotseven.de/gecco/gecco-challenge/gecco-challenge-2018/

Path to my pc: "C:\Users\sofyc\OneDrive\Desktop\UPEC\ML II\Assignment 1\ResourcePackage2018\__MACOSX\ResourcePackage\source\R\Framework\Data\._waterDataTraining.RDS"

In [14]:
#File path
path = r"C:\Users\sofyc\OneDrive\Desktop\UPEC\ML II\Assignment 1\ResourcePackage2018\ResourcePackage\source\R\Framework\Data\waterDataTraining.RDS"

#Loading
data = pyreadr.read_r(path) #dictionary

data

OrderedDict([(None,
                                    Time    Tp    Cl    pH  Redox   Leit  Trueb   Cl_2  \
              0      2016-08-03 09:49:00   6.5  0.17  8.36  749.0  211.0  0.011  0.118
              1      2016-08-03 09:50:00   6.5  0.17  8.36  749.0  211.0  0.011  0.118
              2      2016-08-03 09:51:00   6.5  0.17  8.35  749.0  211.0  0.011  0.117
              3      2016-08-03 09:52:00   6.5  0.17  8.35  749.0  211.0  0.011  0.118
              4      2016-08-03 09:53:00   6.5  0.17  8.35  749.0  211.0  0.011  0.118
              ...                    ...   ...   ...   ...    ...    ...    ...    ...
              139561 2016-11-08 07:50:00  10.1  0.16  8.41  762.0  189.0  0.023  0.105
              139562 2016-11-08 07:51:00  10.1  0.17  8.41  762.0  190.0  0.022  0.106
              139563 2016-11-08 07:52:00  10.1  0.17  8.41  762.0  190.0  0.022  0.106
              139564 2016-11-08 07:53:00  10.1  0.17  8.41  762.0  190.0  0.022  0.106
              139565 2016-11-08 07:54:00  10.1  0.17  8.41  762.0  189.0  0.022  0.106

                          Fm   Fm_2  EVENT
              0       1677.0  695.0  False
              1       1561.0  696.0  False
              2       1581.0  696.0  False
              3       1579.0  693.0  False
              4       1567.0  689.0  False
              ...        ...    ...    ...
              139561  1799.0  924.0  False
              139562  1835.0  927.0  False
              139563  1807.0  924.0  False
              139564  1799.0  930.0  False
              139565  1817.0  925.0  False

              [139566 rows x 11 columns])])

In [15]:
#Extracting the object from the dictionary data
df = data[None]  #RDS file format usually saves a single anonimous object

#Take a look
df

,Time,Tp,Cl,pH,Redox,Leit,Trueb,Cl_2,Fm,Fm_2,EVENT
0,2016-08-03 09:49:00,6.5,0.17,8.36,749.0,211.0,0.011,0.118,1677.0,695.0,False
1,2016-08-03 09:50:00,6.5,0.17,8.36,749.0,211.0,0.011,0.118,1561.0,696.0,False
2,2016-08-03 09:51:00,6.5,0.17,8.35,749.0,211.0,0.011,0.117,1581.0,696.0,False
3,2016-08-03 09:52:00,6.5,0.17,8.35,749.0,211.0,0.011,0.118,1579.0,693.0,False
4,2016-08-03 09:53:00,6.5,0.17,8.35,749.0,211.0,0.011,0.118,1567.0,689.0,False
...,...,...,...,...,...,...,...,...,...,...,...
139561,2016-11-08 07:50:00,10.1,0.16,8.41,762.0,189.0,0.023,0.105,1799.0,924.0,False
139562,2016-11-08 07:51:00,10.1,0.17,8.41,762.0,190.0,0.022,0.106,1835.0,927.0,False
139563,2016-11-08 07:52:00,10.1,0.17,8.41,762.0,190.0,0.022,0.106,1807.0,924.0,False
139564,2016-11-08 07:53:00,10.1,0.17,8.41,762.0,190.0,0.022,0.106,1799.0,930.0,False
139565,2016-11-08 07:54:00,10.1,0.17,8.41,762.0,189.0,0.022,0.106,1817.0,925.0,False